.chat {
    display: flex;
    height: 100vh;
}

.chat_container {
    display: flex;
    width: 100vw;
    color: white;
}

.left_section_chat {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#1d2831, #161d24);
    width: 33%;
    padding: 12px;
}

.right_section_chat {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#141b20, #0f141a);
    width: 67%;
    padding: 12px;
}